*{
  margin: 0;
  padding-left: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

nav {
  width:  90%;
  height: 100px;
  /* background-color: green; */
  margin: 30px auto;
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  width: 30%;
  justify-content: flex-start;
  /* background-color: red; */
}

.right {
  display: flex;
  width: 70%;
  justify-content: flex-end;
  /* background-color: blue; */
}

i.fa-registered {
  color: black;
  height: 40px;
}
div.left a{
  margin: 40px 20px;
  text-decoration: none;
  font-weight: 400;
  color: grey;
  text-transform: capitalize;
}

div.right a{
  margin: 40px 20px;
  text-decoration: none;
  font-weight: 400;
  color: grey;
  text-transform: capitalize;

}

.enter {
  padding: 10px 20px;
  margin: 30px 10px 30px 30px;
  background-color: lightgrey;
  color: black;
  border: 0px;
  border-radius: 10px;
  font-weight: bold;
  text-transform: capitalize;
}

.download {
  padding: 10px 20px;
  margin: 30px 10px 30px 10px;
  background-color: black;
  color: white;
  border-radius: 10px;
  border: 0px;
  font-weight: bold;
  text-transform: capitalize;
}

.firstcontainer {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:  auto;
  color: grey;
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  display: none;

}

.conto, .investimenti, .pagamenti, .extra{
  display: flex;
  flex-direction: column;
}

.conto span, .investimenti span, .pagamenti span, .extra span{
  margin-left: 10px;
}
.conto ul li, .investimenti ul li, .pagamenti ul li, .extra ul li{
  margin: 10px 10px;
  list-style-type: none;
}
